-@ val title: String
- import sine.lite.dies._
- import java.time._
-@ val contents: Seq[Content]
-@ val allTags: Seq[String]
-@ val lang: String
-@ val css: String
-@ val updatedAt: ZonedDateTime
-@ val createdAt: ZonedDateTime
-@ val root: String
-@ val highlighted: Set[String]
-@ val path: String
!!! 5
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(name='generator' content='pandoc')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=yes')
    meta(name='author' content='sumito3478')
    meta(name='dcterms.date' content='#{updatedAt.toLocalDate}')
    title Sine Lite Dies - #{title}
    link(type='application/atom+xml' rel='alternate' href='http://sld.sumito3478.info/article/all.xml')
    script(src='http://code.jquery.com/jquery-1.11.1.min.js')
    :!javascript
      sineLiteDies = {}
    /[if lt IE 9]
      script(src='http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js')
      script(src='http://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js')
      script(src='http://cdnjs.cloudflare.com/ajax/libs/css3pie/2.0beta1/PIE_IE678.js')
      script sineLiteDies.oldIE = true;
    style
      :!plain
        @font-face {
          font-family: "EB Garamond";
          src: url("#{root}/eb-garamond-08-regular.woff");
        }
    link(rel='stylesheet' href='#{root}/style.css')
    :!javascript
      $(document).ready(function() {
        // Fix Android Browser and IE8
        var userAgent = navigator.userAgent;
        if ((
          userAgent.indexOf('Mozilla/5.0') > -1 &&
          userAgent.indexOf('Android ') > -1 &&
          userAgent.indexOf('AppleWebKit') > -1 &&
          userAgent.indexOf('Chrome') <= -1) || sineLiteDies.oldIE ) {
          var label = $('label#site-menu');
          label.removeAttr('for');
          label.click(function() {
            $('aside#site-menu-content').toggle();
          });
        }
      });
    - if (!highlighted.isEmpty)
      script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.0/highlight.min.js')
      - for (lang <- highlighted)
        script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.0/languages/#{lang}.min.js')
      :!javascript
        $(document).ready(function() {
          hljs.configure({languages: [#{highlighted.mkString("'", "','", "'")}]});
          $('pre').each(function(i, pre) {
            Array.prototype.forEach.call(pre.getElementsByTagName('code'), function(code) {
              $(code).addClass(pre.getAttribute('class'));
              hljs.highlightBlock(code);
            });
          });
        });
  body
    aside#site-aside
      header#site-header
        label#site-menu(for='site-menu-check') MENU
        h1
          a(href='#{root}/index.html') Sine Lite Dies
    #document-root
      input#site-menu-check(type='checkbox' name='check[]' value='c1')
      aside#site-menu-content
        a(href='#{root}/index.html')
          h1 index
        a(href='#{root}/about.html')
          h1 about
        a(href='#{root}/article/all.html')
          h1 all articles in one
        a(href='#{root}/tags.html')
          h1 tags
        - for (tag <- allTags)
          a(href='#{root}/tag/#{tag}.html')
            :!pandoc-markdown
              #{tag}
      #document-contents
        :!pandoc-markdown
          # #{title}
        - for (Content(body, metaData, tags, title, permalink, updatedAt, createdAt, urn) <- contents)
          #document-content
            header
              :!pandoc-markdown
                # [#{title}](#{root}/#{permalink})
              ul.metadata
                - for ((title, data) <- metaData)
                  dt #{title}
                  dd
                    :!pandoc-markdown
                      #{data}
                dt 初稿
                dd #{createdAt.toLocalDate}
                dt 最終更新日
                dd #{updatedAt.toLocalDate}
                dt tags
                dd
                  - for (tag <- tags)
                    a(href='#{root}/tag/#{tag}.html') #{tag}
            .body
              :!pandoc-markdown
                #{body}
      div
        | <div id="disqus_thread"></div>
        | <script type="text/javascript">
        |     /* * * CONFIGURATION VARIABLES * * */
        |     var disqus_shortname = 'sld3478';
        |     /* * * DON'T EDIT BELOW THIS LINE * * */
        |     (function() {
        |         var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        |         dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        |         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        |     })();
        | </script>
        | <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
-# vim:set ts=2 sw=2 et:
